<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  "
>
  <h1 style="font-weight: lighter; color: rgba(0, 0, 0, 0.5)">
    Error: <%= error %>
  </h1>
</div>
